html {
    font-size: 14px;
}

@media screen and (max-width: 650px) {
    html {
       font-size: 12px;
    }
}

h1 {
    font-size: 2.4vw;
}

body {
    background-image: url("../images/background.jpg");
    background-size: auto;
    font-family: verdana;
}

div {
    align-content: center;
    text-align: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    background: rgba(41, 2, 34, 0.438);
    color: white;
}

#titleDiv {
    white-space: nowrap;
}

.titleChild {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

#scrooge {
    opacity: 0.5;
    border-radius: 50%;
    width: 3vw;
    margin-top: 2vw;
}

#dateOptionsDiv {
    padding-top: 5vw;
    white-space: nowrap;
}

.dateOptionsChild {
    display: inline-block;
    font-size: 14px;
}

.dateOptionsLabel {
    display: inline-block;
    font-size: 14px;
}

@media screen and (max-width: 650px) {
    .dateOptionsChild {
       display: block;
       margin-left: 30%;
       margin-top: 1vw;
       font-size: 12px;
    }
    .dateOptionsLabel {
        display: block;
        margin-top: 1vw;
        margin-left: -22%;
        font-size: 12px;
     }
}

#resultParameters {
    padding-top: 2vw;
    text-align: left;
    padding-bottom: 4vw;
}

.resultParaElements {
    margin-left: 30%;
}

#submitBtn {
    margin-top: 2vw;
    margin-left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #F4FAEB;
    padding: 10px 21px;
    background: hsl(283, 47%, 47%);
    border: none;
    font-size: 16px;
    opacity: 0.8;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    #submitBtn {
       font-size: 12px;
       padding: 7px 15px;
    }
}

#submitBtn:hover {
    background: hsl(184, 25%, 38%);
}

label {
    margin-right: 1vw;
    margin-left: 1vw;
}

.optionHeadline {
    font-size: 18px;
}

@media screen and (max-width: 650px) {
    .optionHeadline {
       font-size: 14px;
    }
}

.redText {
    color: rgb(250, 0, 0);
}

.greenText {
    color:rgb(0, 255, 98)
}